APP_DEBUG=false
APP_NAME=volnateca-bot
APP_VERSION=0.1.0
APP_TRUSTED_HOSTS=["*"]
APP_OPENAPI_URL=/openapi.json


CORS_ALLOW_ORIGINS=["*"]
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]
CORS_ALLOW_CREDENTIALS=false


LOG_LEVEL=INFO
LOG_FORMAT=console


DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_POOL_SIZE=6
DB_MAX_OVERFLOW=20
DB_POOL_RECYCLE=3000


VK_GROUP_ID=238388485
VK_GROUP_ACCESS_TOKEN=
VK_CONFIRMATION_CODE=
VK_SECRET_KEY=change-me
VK_API_VERSION=5.199
VK_API_BASE_URL=https://api.vk.com/method
VK_REQUEST_TIMEOUT_SECONDS=5
VK_REQUIRED_SUBSCRIPTION_GROUP_ID=238388485
